<div class="container">
  <div class="title mat-typography">
    <p>{{ text }}</p>
  </div>

  <div class="projects" *ngIf="showProjects">
    <!-- C -->
    <mat-card>
            <div class="img">
              <img src="./../../assets/projects/learnc.png" alt="Learn C">
            </div>
            <div class="content">
              <p class="title condensed">Learn C</p>
              <mat-divider></mat-divider>
              <p class="text condensed">
                  Learn C is a complete tool for learning C. Learn C contains all the essential theory, note and program related to C.
              </p>

              <div class="tools">
                  <i class="fab fa-android"></i>
                  <i class="fab fa-node-js"></i>
                  <i class="fab fa-html5"></i>
                  <i class="fab fa-css3-alt"></i>
                  <i class="fab fa-js"></i>
              </div>

              <div class="buttons">
                  <a href="https://play.google.com/store/apps/details?id=com.reezx.android.learncprogramming" target="_blank" mat-raised-button color="primary">Download</a>
              </div>
            </div>


    </mat-card>

    <!-- CPP -->
    <mat-card>
      <div class="img">
        <img src="./../../assets/projects/learncpp.png" alt="Learn C">
      </div>
      <div class="content">
        <p class="title condensed">Learn C++</p>
        <mat-divider></mat-divider>
        <p class="text condensed">
            Learn C++ is a complete tool for learning C++. Learn C++ contains all the essential theory, note and program related to C++.
        </p>

        <div class="tools">
            <i class="fab fa-android"></i>
            <i class="fab fa-node-js"></i>
            <i class="fab fa-html5"></i>
            <i class="fab fa-css3-alt"></i>
            <i class="fab fa-js"></i>
        </div>

        <div class="buttons">
            <a href="https://play.google.com/store/apps/details?id=com.reezx.android.learncpp" target="_blank" mat-raised-button color="primary">Download</a>
        </div>
      </div>
    </mat-card>

    <!-- eLab -->
    <mat-card>
        <div class="img">
          <img src="./../../assets/projects/elavv1.png" alt="Elab V1">
        </div>
        <div class="content">
          <p class="title condensed">eLab v1</p>
          <mat-divider></mat-divider>
          <p class="text condensed">
              eLab is a web based auto evaluation tool for learning programming courses.
          </p>

          <div class="tools">
              <i class="fab fa-php"></i>
              <i class="fab fa-node-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-js"></i>
              <img class="icon" src="./../../assets/tools/mysql.png" />
          </div>

          <div class="buttons">
              <a href="http://care.srmuniv.ac.in/elabstarter.html" target="_blank" mat-raised-button color="primary">Visit</a>
          </div>
        </div>
    </mat-card>

    <!-- eLab v2-->
    <mat-card>
        <div class="img">
          <img src="./../../assets/projects/elabv2.png" alt="Elab V2">
        </div>
        <div class="content">
          <p class="title condensed">eLab v2</p>
          <mat-divider></mat-divider>
          <p class="text condensed">
              eLab is a web based auto evaluation tool for learning programming courses.
          </p>

          <div class="tools">
              <i class="fab fa-angular"></i>
              <i class="fab fa-node-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-js"></i>
              <img class="icon" src="./../../assets/tools/mongodb-logo.png" />
          </div>

          <div class="buttons">
              <a href="http://care.srmuniv.ac.in/elabstarter.html" target="_blank" mat-raised-button color="primary">Visit</a>
          </div>
        </div>
    </mat-card>


    <!-- eVerify-->
    <mat-card>
        <div class="img">
          <img src="./../../assets/projects/everify.png" alt="eVerify">
        </div>
        <div class="content">
          <p class="title condensed">eVerify</p>
          <mat-divider></mat-divider>
          <p class="text condensed">
              eVerify is a web based exam conduction tool, for various programming language.
          </p>

          <div class="tools">
              <i class="fab fa-php"></i>
              <i class="fab fa-node-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-js"></i>
              <img class="icon" src="./../../assets/tools/mysql.png" />
          </div>

          <div class="buttons">
              <a href="http://care.srmuniv.ac.in/everify/" target="_blank" mat-raised-button color="primary">Visit</a>
          </div>
        </div>
    </mat-card>

    <!-- eCurricula-->
    <mat-card>
        <div class="img">
          <img src="./../../assets/projects/ecurricula.png" alt="eCurricula">
        </div>
        <div class="content">
          <p class="title condensed">eCurricula</p>
          <mat-divider></mat-divider>
          <p class="text condensed">
              eCurricula is Online Learning Management System. It aims to provide digital education to students.
          </p>

          <div class="tools">
              <i class="fab fa-php"></i>
              <i class="fab fa-node-js"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-js"></i>
              <img class="icon" src="./../../assets/tools/mysql.png" />
          </div>

          <div class="buttons">
              <a href="http://care.srmuniv.ac.in/ecurricula/" target="_blank" mat-raised-button color="primary">Visit</a>
          </div>
        </div>
    </mat-card>

  </div>
</div>
