@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.white {
  background-color: white;
}

.white-text {
  color: white;
}

.condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
