<div class="container">
  <div class="bg"> </div>

  <div class="card">
    <mat-card>
      <div class="row">
        <div class="col-1">
          <div class="img">
          </div>
        </div>
        <div class="col-2">
          <app-home-extras></app-home-extras>
        </div>
      </div>


      <div class="bottom-bar">
        <a class="icon white-text" target="_blank" href="https://www.facebook.com/reezpatel"><i class="fab fa-facebook-square"></i></a>
        <a class="icon white-text" target="_blank" href="https://twitter.com/patelreez"><i class="fab fa-twitter"></i></a>
        <a class="icon white-text" target="_blank" href="https://www.linkedin.com/in/reezpatel"><i class="fab fa-linkedin"></i></a>
        <a class="icon white-text" target="_blank" href="https://play.google.com/store/apps/developer?id=ReezX"><i class="fab fa-google-play"></i></a>
        <a class="icon white-text" target="_blank" href="https://github.com/reezpatel/"><i class="fab fa-github"></i></a>
        <a class="icon white-text" href="mailto:reezpatel@gmail.com"><i class="fas fa-at"></i></a>
      </div>
    </mat-card>
  </div>

  <div class="resume">
    <a href="./../../assets/Reez Patel - CV - Digital.pdf" class="display-1">DOWNLOAD RESUME</a>
  </div>
</div>
